<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardmapper">


	<insert id="boardwrite" parameterType="IceBoard">
		insert into
		board(boardnum, boardtitle, boardcontent , email)
		values(#{boardnum},
		#{boardtitle}, #{boardcontent},#{email} )
	</insert>


	<select id="maxnum" resultType="Integer">
		select max(boardnum) from board

	</select>

<!-- 	<select id="boardlist" resultType="IceBoard">
		select *
		from board
		order by boardnum desc
	</select> -->

	<select id="boardlist" resultType="IceBoard">
		SELECT boardnum , boardtitle, boardreadcnt, nickname ,updatedate 
		from board, users
		WHERE board.email = users.email
		order by updatedate desc
	</select>
	
	<select id="boardread" resultType="Iceboard" parameterType="java.lang.Integer">
		select boardnum, boardtitle, boardcontent, nickname, updatedate
		from board, users
		where board.email = users.email	and boardnum = #{boardnum}
	</select>
	
	<update id="readcnt" parameterType="java.lang.Integer">
		update board 
		set
		boardreadcnt = boardreadcnt + 1
		where boardnum =#{boardnum}
	</update>
	
	<update id ="boardupdate" parameterType="IceBoard">
		update board
		set
		boardtitle = #{boardtitle},boardcontent = #{boardcontent}, updatedate=now()
		where boardnum =#{boardnum}
	</update>
	
	<delete id="boarddelete" parameterType ="IceBoard">
		delete from board
		 where boardnum =#{boardnum};
	</delete>
</mapper>

